{% extends 'base.html.twig' %}
 
 {% block title %} Tous les restaurants {% endblock %}
 
 {% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> Symfony React Starter </a>
    </nav>

    <div class="example-wrapper">
        <h2>Liste des restaurants</h2>
    </div>

   
 {% endblock %}