{% extends 'base.html.twig' %}

{% block title restaurant.name  %}

{% block body %}

  <div>
    <p>{{ restaurant.name}}</p>
    <p>{{ restaurant.adress}}</p>
    <p>{{ restaurant.tel}}</p>
    <p>{{ restaurant.website}}</p>
  </div>

{% endblock %} 